html,
body,
.body {
	background: #e4e5ea;
	background-color: #e4e5ea;
}
.header {
	background: $primary-color;
	background-color: $primary-color;

	.columns {
		padding-bottom: 20px;
		padding-right: 20px !important;
		padding-left: 20px !important;
		padding-top: 20px;
		color: #ffffff;
		.logo_white {
			width: 128px;
		}
		.user_icon {
			width: 32px;
		}
	}
}
.sub-header {
	background: #d65600;
	background-color: #d65600;
	color: #ffffff;
	display: inline-block;

	.columns {
		padding-bottom: 5px;
		padding-right: 10px !important;
		padding-left: 10px !important;
		padding-top: 5px;
		color: #ffffff;
	}
	a {
		color: #ffffff;
		font-size: 12px;
		font-weight: 600;
		padding: 1px;
		.icons {
			width: 20px;
			margin-right: 5px;
			display: inline-block;
			vertical-align: bottom;
		}
	}
	th {
		text-align: center;
	}
	.menu-divider {
		display: block;
		height: 20px;
		width: 1px;
		background: #ff690f;
		background-color: #ff690f;
	}
}
.deal_of_day {
	background: #14191f;
	background-color: #14191f;
	.columns {
		th {
			padding-top: 30px;
			padding-bottom: 20px;
		}
	}
	img {
		padding-bottom: 20px;
	}
	h2 {
		color: #ffffff;
		font-weight: 900;
		font-size: 30px;
		text-align: center;
		padding-bottom: 20px;
	}
	p {
		color: #ffffff;
		font-weight: 600;
		font-size: 16px;
		text-align: center;
		padding-bottom: 20px;
	}
	span {
		color: #ffffff;
		font-weight: 600;
		font-size: 16px;
		text-align: center;
		display: block;
		&.save_amount {
			font-size: 14px;
		}
		&.tiny_info {
			font-size: 10px;
			font-weight: 300;
			padding-bottom: 10px;
		}
		&.price {
			font-size: 20px;
			font-weight: 600;
			padding-bottom: 10px;
		}
	}
	.button {
		display: inline-block;
		width: 170px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		border: 1px solid #ffffff;
		border-radius: 5px;
		color: #ffffff;
		&:hover {
			background: $primary-color;
		}
	}
	.content_area {
		background: #14191f;
		background-color: #14191f;
		.columns {
			th {
				padding-top: 30px;
				padding-bottom: 20px;
			}
		}
		img {
			padding-bottom: 20px;
		}
		h2 {
			color: #ffffff;
			font-weight: 900;
			font-size: 30px;
			text-align: center;
			padding-bottom: 20px;
		}
		p {
			color: #ffffff;
			font-weight: 600;
			font-size: 16px;
			text-align: center;
			padding-bottom: 20px;
		}
		span {
			color: #ffffff;
			font-weight: 600;
			font-size: 16px;
			text-align: center;
			display: block;
			&.save_amount {
				font-size: 14px;
			}
			&.tiny_info {
				font-size: 10px;
				font-weight: 300;
				padding-bottom: 10px;
			}
			&.price {
				font-size: 20px;
				font-weight: 600;
				padding-bottom: 10px;
			}
		}
		.button {
			display: inline-block;
			width: 170px;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			border: 1px solid #ffffff;
			border-radius: 5px;
			color: #ffffff;
			&:hover {
				background: $primary-color;
			}
		}
	}
}
.content_area {
	background: #f1f4f7;
	background-color: #f1f4f7;
	& > tbody > tr > th {
		padding-top: 16px;
	}
	// .first_offer {
	// 	padding-top: 16px !important;
	// }
	.offer {
		background: #ffffff;
		background-color: #ffffff;

		.columns {
			th {
				background: #ffffff;
				background-color: #ffffff;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 20px;
				padding-left: 20px;
			}
			& > table {
				table-layout: fixed;
				max-width: 568px;
			}
		}
		img {
			padding-bottom: 20px;
		}
		h2 {
			color: black;
			font-weight: 900;
			font-size: 30px;
			text-align: center;
			padding-bottom: 20px;
		}
		p {
			color: black;
			font-weight: 600;
			font-size: 16px;
			text-align: center;
			padding-bottom: 20px;
		}
		span {
			color: #334755;
			font-weight: 600;
			font-size: 16px;
			text-align: center;
			display: block;
			&.save_amount {
				font-size: 14px;
				color: #1a88f3;
			}
			&.tiny_info {
				font-size: 10px;
				font-weight: 500;
				padding-bottom: 10px;
				color: #334755;
			}
			&.price {
				font-size: 20px;
				font-weight: 600;
				padding-bottom: 10px;
				color: #334755;
			}
		}
		.button {
			display: block;
			width: 170px;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			border: 1px solid #ffffff;
			border-radius: 5px;
			color: #ffffff;
			background: black;
			margin: 0 auto;
			&:hover {
				background: $primary-color;
			}
		}
		.content_area {
			background: #14191f;
			background-color: #14191f;
			.columns {
				th {
					padding-top: 30px;
					padding-bottom: 20px;
				}
			}
			img {
				padding-bottom: 20px;
			}
			h2 {
				color: #ffffff;
				font-weight: 900;
				font-size: 30px;
				text-align: center;
				padding-bottom: 20px;
			}
			p {
				color: #ffffff;
				font-weight: 600;
				font-size: 16px;
				text-align: center;
				padding-bottom: 20px;
			}
			span {
				color: #ffffff;
				font-weight: 600;
				font-size: 16px;
				text-align: center;
				display: block;
				&.save_amount {
					font-size: 14px;
				}
				&.tiny_info {
					font-size: 10px;
					font-weight: 300;
					padding-bottom: 10px;
				}
				&.price {
					font-size: 20px;
					font-weight: 600;
					padding-bottom: 10px;
				}
			}
			.button {
				display: block;
				width: 170px;
				text-align: center;
				padding-top: 10px;
				padding-bottom: 10px;
				border: 1px solid #ffffff;
				border-radius: 5px;
				color: #ffffff;
				margin: 0 auto;
				&:hover {
					background: $primary-color;
				}
			}
		}
		&.last_offer {
			.group_icons {
				width: 190px;
				margin: 0 auto;
				padding-bottom: 0;
			}
			h4 {
				color: #334755;
				font-weight: 600;
				font-size: 16px;
				text-align: center;
				padding-bottom: 20px;
			}
			p {
				color: #334755;
				font-weight: 400;
				font-size: 14px;
				text-align: center;
				padding-bottom: 20px;
			}
			.button {
				margin: 0 auto;
			}
		}
	}
}
.footer_top {
	background: #212830;
	background-color: #212830;
	& > tbody > tr {
		vertical-align: middle;
	}
	& > tbody > tr > th {
		padding-bottom: 25px !important;
		padding-top: 20px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	th {
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.circle_logo {
		display: block;
		margin: 0 auto;
	}
	.call_to_action {
		display: block;
		font-size: 14px;
	}
	.info_section > table > tbody > tr > th {
		color: #ffffff;
		padding-left: 12px;
		padding-top: 10px;
		.info {
			font-size: 12px;
			hyphens: none;
		}
	}
	.appstore {
		padding-top: 10px;
		height: 35px;
		&:hover {
			cursor: pointer !important;
		}
	}
	.playstore {
		height: 35px;
		width: 105px;
		padding-top: 10px;
		&:hover {
			cursor: pointer;
		}
	}
}
.footer_social {
	background: #14181c;
	background-color: #14181c;
	& > tbody > tr > th {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	th {
		padding-top: 0;
		padding-bottom: 0;
	}
	.logo_section {
		img {
			width: 128px;
		}
	}
	.social_icons {
		& > tbody > tr > th {
			padding: 0px;
		}
		img {
			width: 32px;
			display: block;
			margin: 0 auto;
			padding: 0;
		}
		.twitter {
			width: 32px;
			padding-left: 0 !important;
			padding-right: 0 !important;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}
}
.footer_menu {
	background: #14181c;
	background-color: #14181c;
	color: #ffffff;
	display: inline-block;
	border-bottom: 1px solid #2f3c48;
	border-top: 1px solid #2f3c48;

	.columns {
		padding-bottom: 5px;
		padding-right: 10px !important;
		padding-left: 10px !important;
		padding-top: 5px;
		color: #ffffff;
	}
	a {
		color: #ffffff;
		font-size: 12px;
		font-weight: 600;
		padding: 1px;
		.icons {
			width: 20px;
			margin-right: 5px;
			display: inline-block;
			vertical-align: bottom;
		}
	}
	th {
		text-align: center;
	}
	.footer_menu-divider {
		display: block;
		height: 20px;
		width: 1px;
		background: #2d3e4b;
		background-color: #2d3e4b;
	}
}
.footer_bottom {
	background: #14181c;
	background-color: #14181c;
	& > tbody > tr > th {
		padding-right: 30px !important;
		padding-left: 30px !important;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.lower_links {
		& > tbody > tr > th > table > tbody > tr > th {
			text-align: center;
			a {
				font-size: 14px;
				color: #ffffff;
				font-weight: 600;
				margin-right: 10px;
				&:nth-child(4) {
					margin-right: 0;
				}
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
	.privacy {
		p {
			color: #ffffff;
			font-size: 10px;
			color: #a0a1a3;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	.copyright {
		& > tbody > tr > th > table > tbody > tr > th {
			padding: 20px 0 5px 0;
		}
		p {
			color: #ffffff;
			font-size: 13px;
			font-weight: 500;
		}
	}
	.address {
		& > tbody > tr > th > table > tbody > tr > th {
		}
		p {
			color: #ffffff;
			font-size: 13px;
		}
	}
}
