html,
body,
.body {
	background: #e4e5ea;
	background-color: #e4e5ea;
}
.header {
	background: #ff6a10;
	background-color: #ff6a10;

	.columns {
		padding-bottom: 20px;
		padding-right: 20px !important;
		padding-left: 20px !important;
		padding-top: 20px;
		color: white;
		.logo_white {
			width: 128px;
		}
		.user_icon {
			width: 32px;
		}
	}
}
.sub-header {
	background: #d65600;
	background-color: #d65600;
	color: white;

	.columns {
		padding-bottom: 20px;
		padding-right: 20px !important;
		padding-left: 20px !important;
		padding-top: 20px;
		color: white;
	}
	a {
		color: white;
		font-size: 14px;
		padding: 20px;
		img {
			width: 20px;
		}
	}
}
